/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: inline-block;
}
body {
	line-height: 1;
	padding: 50px;
	width: 1000px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
	display: inline-block;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

title {
	display: none;
}

header {
	align-items: center;
}

.logo {
	float: right;
	margin: 25px 0 0 0;
}

header nav {
	margin: 10px 0 0 25px;
	height: 100px;
	align-items: center;
}

header nav a:first-child {
	margin: 25px 25px 0 0;
}

header nav a {
	margin: 25px 25px;
	text-align: center;
	color: grey;
	text-decoration: none;
}

h1 {
	font-size: 75px;
}

.subheader {
	width: 900px;
}

.box {
	text-align: center;
	justify-items: center;
	width: 300px;
	margin: 50px 50px 100px 100px;
}

button {
	background: white;
	border: 1px solid black;
	padding: 10px 50px;
	font-size: large;
}

.code {
	width: 400px;
	float: right;
}

.bottom {
	border-top: 2px solid black;
	width: 900px;
}

.features {
	width: 425px;
	padding: 25px 0 0 0;
}

.about {
	width: 425px;
	padding: 25px 0 0 0;
	float: right;
}

.middle-img {
	width: 100%;
	margin: 25px 0;
}

.services {
	width: 280px;
	margin: 0 0 25px 0;
}

.product {
	width: 280px;
	margin: 0 25px 25px 25px;
}

.vision {
	width: 280px;
	align: right;
	margin: 0 0 25px 0;
}

footer {
	border-top: 2px solid black;
	height: 500px;
	width: 900px;
}

.contact {
	line-height: 1.25;
	margin: 25px 0;
}

.copyright {
	width: 900px;
	height: 50px;
	padding: 25px 0 25px 400px;
}